.grid-container {
    display: grid;
    /*grid-template-columns: 20px 1fr 1fr;*/
    /*grid-template-rows: repeat(8000, auto);*/
    /*row-gap: 50px;*/
    column-gap: 20px;
    align-items: center;
}




.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 1rem;
}

.scene_title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.stanza_end {
    margin-bottom: 1rem;
}

.character_list {
    font-style: italic;
    margin-bottom: 1rem;

}
/*.default + .character_list {*/
/*    margin-top: 1rem;*/
/*}*/
/*.character_list:has(+ .character_list) {*/
/*    margin-bottom: unset;*/
/*}*/

.speech_heading {
    font-weight: bold;
    margin-bottom: 1rem;
    /*margin-top: 1rem;*/
}
/*.default + .speech_heading {*/
/*    margin-top: 1rem;*/
/*}*/

.stage_direction, .slugline {
    font-style: italic;
    margin-bottom: 1rem;
    font-weight: normal;
    /*margin-top: 1rem;*/
}
.default .stage_direction {
    margin-bottom:unset;
    margin-top:unset;
}
/*.default + .stage_direction {*/
/*    margin-top: 1rem;*/
/*}*/
/*.stage_direction:has(+ .stage_direction) {*/
/*    margin-bottom: unset;*/
/*}*/

.entrance {
    font-style: italic;
    margin-bottom: 1rem;
    /*margin-top: 1rem;*/
}
/*.default + .entrance {*/
/*    margin-top: 1rem;*/
/*}*/

